@page "/l2t"
@inject NavigationManager NavMan

<PageTitle>L2T OAuth2</PageTitle>

<h1>Linq2Twitter Sample</h1>

@*<button @onclick="OAuth2Start">Start Twitter OAuth2</button>*@

<p><button class="btn btn-primary" @onclick=@(() => NavMan.NavigateTo("/OAuth2/BeginAsync", true))>Login with Twitter</button></p>

@code {
}
